* {
    margin: 0;
    padding: 0;
}

body, html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background-color: #333756;
    background-image: url('../images/logo_trans.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
}

span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section h2 {
    margin-top: 2%;
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 3%;
}

button {
    background-color: #EB3BA5;
    display: block;
    padding: 20px;
    margin-top: 20px;
    border: none;
    border-radius: 1em;
}

button a {
    text-decoration: none;
    font-size: 1.3em;
    color: white;
    font-family: 'Krona One', sans-serif;
}

button:hover {
    opacity: 0.7;
}

h1 {
    font-family: 'Krona One', sans-serif;
    font-size: 4em;
    margin-bottom: 20px;
}

h2, h3 {
    font-family: 'Itim', cursive;
    font-size: 1.5em;
    color: white;
}

p, label {
    color: white;
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 1em;
}

input {
    padding: 3px;
    width: 45%;
    border-radius: 8px;
    line-height: 20px;
    margin: 3px;
    border: none;
}

textarea {
    margin-top: 10px;
    border-radius: 8px;
    width: 45%;
    border: none;
}

footer {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1c1f30;
}

#box {
    padding-top: 100px;
    width: 60%;
    margin: 0 auto;
}

#box .box-wrapper {
    color: white;
    padding: 50px;
    margin-top: 100px;
    border-radius: 5px;
}

#social-media {
    float: left;
    margin-top: 20px;
    height: 100px;
}

#projects {
    margin-top: 10%;
    padding-top: 70px;
}

#box-article h2 {
    margin: 10px;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #1c1f30;
}

#about {
    padding-top: 80px;
}

#about #about-article {
    float: left;
    width: 35%;
    display: inline;
    margin-right: 10%;
    margin-top: 10%;
    padding: 50px;
    position: absolute;
}

#about #about-article button {
    padding: 10px;
    margin-left: 33%;
}

#about #about-article a {
    font-size: 1em;
}

#contact {
    padding-top: 60px;
    margin-right: 10px;
}

#submit {
    padding: 10px;
    background-color: #39393B;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    width: 20%;
}

#submit:hover {
    background-color: white;
    color: #39393B;
    font-size: 1.1em;
    font-weight: bolder;
}

.top-nav {
    background-color: #333756;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    height: 80px;
}

.top-nav .logo {
    float: left;
    padding-left: 55px;
}

.top-nav .logo img {
    width: 100px;
    height: 100px;
}

.top-nav nav {
    float: right;
    padding: 30px 60px;
}

.top-nav nav ul li {
    list-style-type: none;
    display: inline;
    padding: 15px;
}

.top-nav nav ul li a {
    color: white;
    font-size: 1em;
    text-decoration: none;
    font-family: 'Krona One', sans-serif;
}

.top-nav nav a:hover {
    color: #6DBDE1;
}

.fab {
    font-size: 2em;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
    padding: 3px;
    background: #ffffff;
}

.fab:hover {
    font-size: 3em;
}

.fa-facebook-square {
    color: #0D8AF0;
}

.fa-github-square {
    color: #7B258B;
    
}

.fa-discord {
    color: #7289DA;
}

.clr {
    clear: both;
}

.project-wrapper {
    padding-left: 5%;
    margin-bottom: 20px;
}

.project-wrapper #box-article {
    float: left;
    width: 30%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    background-color: #ffffff50;
    margin: 10px;
    border-radius: 10px;
    vertical-align: middle  ;
}

.img-responsive {
    width: 100%;
    border-radius: 10px;
}

.container-left {
    width: 37%;
    float: left;
    background-color: #49BC3B;
    padding: 20px;
    margin: 6%;
    height: 400px;
    border-radius: 10px;
    background-image: url('../images/geek-girl.png');
    background-repeat: no-repeat;
    background-position:top;
    position: relative;
}

.container-left h2 {
    color: #1c1f30;
}

.overlay-left {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #0C132F;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.container-left:hover .overlay-left {
    width: 100%;
    left: 0;
    border-radius: 10px;
}

.container-left .overlay-left .text {
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container-left .overlay-left .text h2 {
    color: #76fc65;
}

.container-right {
    width: 35%;
    float: right;
    text-align: center;
    background-color: #F1CB1D;
    padding: 30px;
    margin: 40px 70px 50px;
    height: 400px;
    border-radius: 10px;
    line-height: 25px;
    position:relative;
}

.container-right h2 {
    margin-top: 30px;
    color: #39393B;
}

.form-wrapper {
    width: 100%;
}

.wrapper {
    float: right;
    width: 100%;
    display: inline;
    position: absolute;
    margin-left: 40px;
}

.wrapper h2 {
    text-align: left;
    margin-left: 50px;
    color: #F1CB1D;
}

.service-wrapper {
    margin-bottom: 10px;
    float: left;
    
}

.img-wrapper {
    float: left;
    width: 10%;
    height: 100px;
    margin: 0 30px 20px 40px;
    padding: 10px;
    background-color: #6DBDE1;
    box-sizing: border-box;
    border-radius: 10px;
}

.img-wrapper img{
    width: 80%;
}

.img-wrapper #img4 {
    padding-top: 17px;
    padding-left: 15px;
}

.img-wrapper #img5 {
    width: 60%;
    padding-left: 25px;
    padding-top: 5px;
}

.img-wrapper #img6 {
    width: 60%;
    padding-left: 25px;
    padding-top: 5px;
}

.text-wrapper {
    float: left;
    width: 30%;
    box-sizing: border-box;
}

.text-wrapper h3 {
    font-size: 1.2em;
    color:#6DBDE1;
}

.text-wrapper p {
    font-size: 14px;
}
